.tc-table-desktop {
  --odd-row-bg-color: rgba(0, 0, 0, 0.03);
  --even-row-bg-color: rgb(255, 255, 255);
  --shadow-color: rgba(0, 0, 0, 0.15);
  --color-active: #334580;
  --color-border: #d8dfea;
  --color-disabled: #e3e5e7;
  --border: 1px solid #d8dfea;
  --inner-cells-border: 1px solid rgba(0, 0, 0, 0.02);
  --row-border: solid 1px rgba(0, 0, 0, 0.05);

  position: relative;
  border: var(--border);
  box-sizing: border-box;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.15;
}

.tc-table-desktop * {
  box-sizing: inherit;
}

.tc-table-desktop__inner {
  overflow: auto; /* This style is required for an inside scroll */
  border-bottom: 1px solid var(--color-border);
}

.tc-table-desktop__content {
  display: table;
  border-spacing: 0;
  width: 100%;
}

.tc-table-desktop__header {
  overflow-x: hidden;
  overflow-y: auto; /* These styles are required for a scrollable body to align with the header properly */
  border-bottom: 1px solid var(--color-border);
}

.tc-table-desktop__body {
  overflow-x: hidden;

  /* These styles are required for a scrollable table body */
  overflow-y: hidden;
}

.tc-table-desktop__th {

}

.tc-table-desktop__th,
.tc-table-desktop__td {
  /* We use an absolutely position resizer, so this is required. */
  position: relative;
  margin: 0;
  padding: 0.9em 1.2em;
}

.tc-table-desktop__th--header {
  overflow: hidden;
  border-right: 1px solid var(--color-border);
  padding: 1.1em 1.2em;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tc-table-desktop__th--header:last-child {
  border-right: none;
}

.tc-table-desktop__th--sort-asc {
  box-shadow: inset 0 2px 0 0 var(--color-active);
}

.tc-table-desktop__th--sort-desc {
  box-shadow: inset 0 -2px 0 0 var(--color-active);
}

.tc-table-desktop__tr {

}

.tc-table-desktop__tr + .tc-table-desktop__tr {
  border-top: 1px solid var(--color-border);
}

.tc-table-desktop__body .tc-table-desktop__tr--footer {
  border-top: 1px solid currentColor;
  font-weight: 400;
}

.tc-table-desktop .resizer {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  width: 20px;
  height: 100%;

  /* prevents from scrolling while dragging on touch devices */
  touch-action: none;
  transform: translateX(50%);
}

.tc-table-filter {
  border: 1px solid var(--color-border);
  border-radius: 5px;
  padding: 6px 10px;
  height: 30px;
  box-sizing: border-box;
  font-weight: inherit;
  font-size: inherit;
  background-color: #fff;
}

.tc-table-filter:focus {
  outline: none;
  border-color: var(--color-active);
}

.tc-table-desktop__loading-overlay {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
