.tc-table-desktop {
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
  font-weight: 300;
  font-size: 18px;
  line-height: 1.15;
}

.tc-table-desktop * {
  box-sizing: inherit;
}

.tc-table-desktop__inner {
  overflow: auto;
  border-bottom: 1px solid #d8dfea;
  scrollbar-color: #dfe7f9 transparent;
  scrollbar-width: thin;
}

.tc-table-desktop__inner::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.tc-table-desktop__inner::-webkit-scrollbar-track {
  border-top: 1px solid #d8dfea;
  background: transparent;
}

.tc-table-desktop__inner::-webkit-scrollbar-thumb {
  border: none;
  border-radius: 15px;
  background-color: #dfe7f9;
}

.tc-table-desktop__content {
  display: inline-block;
}

.tc-table-desktop__header {
  border-bottom: 1px solid #d8dfea;
}

.tc-table-desktop__th,
.tc-table-desktop__td {
  /* We use an absolutely position resizer, so this is required. */
  position: relative;
  margin: 0;
  padding: 0.9em 1.2em;
  transition: background-color 0.15s ease-out;
}

.tc-table-desktop__action-cell {
  position: sticky !important;
  right: 0;
  top: 0;
  z-index: 5;
  border-left: 1px solid #d8dfea;
  padding: 0;
  background-color: #fff;
}

.tc-table-desktop__th--header {
  overflow: hidden;
  border-left: 1px solid #d8dfea;
  padding: 1.1em 1.2em;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tc-table-desktop__th--header:first-child {
  border-left: none;
}

.tc-table-desktop__th--sort-asc {
  box-shadow: inset 0 2px 0 0 #334580;
}

.tc-table-desktop__th--sort-desc {
  box-shadow: inset 0 -2px 0 0 #334580;
}

.tc-table-desktop__tr {
  transition: box-shadow 0.15s ease-out;
}

.tc-table-desktop__tr + .tc-table-desktop__tr {
  border-top: 1px solid #d8dfea;
}

.tc-table-desktop__body .tc-table-desktop__tr--footer {
  border-top: 1px solid currentColor;
  font-weight: 400;
}

.tc-table-desktop__body .tc-table-desktop__tr:not(.tc-table-desktop__tr--footer):hover {
  box-shadow: 3px 9px 34px rgba(4, 42, 77, 0.11);
}

.tc-table-desktop__body .tc-table-desktop__tr:not(.tc-table-desktop__tr--footer):hover .tc-table-desktop__td {
  background-color: #fff;
}

.tc-table-desktop .resizer {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  width: 20px;
  height: 100%;

  /* prevents from scrolling while dragging on touch devices */
  touch-action: none;
  transform: translateX(50%);
}

.tc-table-filter {
  border: 1px solid #d8dfea;
  border-radius: 5px;
  padding: 6px 10px;
  height: 30px;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  background-clip: padding-box; /* ios inner shadow fix */
  background-color: #fff;
}

.tc-table-filter:focus {
  outline: none;
  border-color: #334580;
}

.tc-table-desktop__loading-overlay {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
