.tc-input {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.tc-input * {
  box-sizing: border-box;
}

.tc-input__label {
  display: block;
  margin-bottom: 6px;
  line-height: 1.2;
}

.tc-input__box {
  position: relative;
  width: 100%;
}

.tc-input__control {
  display: block;
  outline: none;
  border: 1px solid #bac4ca;
  border-radius: 10px;
  padding: 0 16px;
  width: 100%;
  height: 42px;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  background-color: #fff;
}

.tc-input__control:hover {
  border-color: #81898e;
}

.tc-input__control:focus {
  border-color: #2f3436;
}

.tc-input__control:disabled {
  border-color: #bac4ca;
  opacity: 0.5;
}

.tc-input__control--password {
  padding-right: 46px;
}

.tc-input__view-toggler {
  position: absolute;
  right: 16px;
  top: 8px;
  outline: none;
  border: none;
  padding: 0;
  width: 26px;
  height: 26px;
  font-size: 16px;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.tc-input__view-toggler svg {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.tc-input__view-toggler:hover,
.tc-input__view-toggler:focus {
  opacity: 0.6;
}

.tc-input__control:disabled ~ .tc-input__view-toggler {
  pointer-events: none;
}

.tc-input--invalid .tc-input__box::after {
  content: "";
  position: absolute;
  right: -6px;
  top: 6px;
  bottom: 6px;
  width: 2px;
  background-color: #e11961;
}

.tc-input__errors {
  list-style: none;
  margin: 4px 0 0;
  padding: 0;
  font-size: 14px;
  line-height: 17px;
  color: #e11961;
}

.tc-input__errors--absolute {
  position: absolute;
  left: 0;
  top: 100%;
}
