.tc-table-mobile-filtration {
  padding: 8px 0;
}

.tc-table-mobile-filtration__column {
  margin-bottom: 10px;
}

.tc-table-mobile-filtration__column:last-child {
  margin-bottom: 0;
}

.tc-table-mobile-filtration__title {
  margin-bottom: 6px;
  line-height: 1.15;
}

.tc-table-mobile-filtration__field .tc-table-filter,
.tc-table-mobile-filtration__field .tc-table-desktop__select {
  border-radius: 10px;
  padding: 0 16px;
  height: 40px;
  max-width: 100%;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: rgba(0, 0, 0, 0.54);
}
