.tc-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5600;
  display: flex;
  overflow: auto;
}

.tc-modal__container {
  margin: auto;
  padding: 32px 0;
  width: calc(100% - 20px);
}

.tc-modal__content {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  background-color: #fff;
}

.tc-modal__header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  padding: 22px 22px 26px;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.5) 10px, rgba(255, 255, 255, 1) 20px 100%);
}

.tc-modal__header-icon {
  margin-right: 14px;
  min-width: 20px;
  font-size: 18px;
  text-align: center;
}

.tc-modal__close-button {
  margin-left: auto;
  outline: none;
  border: none;
  color: inherit;
  background: none;
  cursor: pointer;
}

.tc-modal__close-button:hover,
.tc-modal__close-button:focus {
  transform: translate3d(0, -1px, 0);
}

.tc-modal__title-group {
  margin-right: 14px;
}

.tc-modal__title {
  margin: 0;
  font-size: 20px;
  line-height: 1.15;
}

.tc-modal__subtitle {
  margin-top: 6px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.15;
  color: inherit;
}

.tc-modal__body {
  padding: 22px 22px 26px;
}

.tc-modal__body--no-padding {
  padding: 0;
}

.tc-modal__footer {
  position: sticky;
  bottom: 0;
  padding: 40px 22px 22px;
  background-color: inherit;
}

.tc-modal__buttons {
  margin-top: -8px;
  margin-left: -8px;
  text-align: end;
}

.tc-modal__button {
  margin-top: 8px;
  margin-left: 8px;
}
