.tc-button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #344675;
  border-radius: 4px;
  padding: 10px 32px;
  box-sizing: border-box;
  box-shadow: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(to bottom left, #344675, #263148, #344675);
  background-position: 0 0;
  background-size: 100%;
  background-color: #344675;
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}

.tc-button:hover,
.tc-button:focus {
  outline: none;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.tc-button--simple {
  color: #344675;
  background-image: none;
  background-color: transparent;
}

.tc-button--cancel {
  border-color: #fd5d93;
  background-image: linear-gradient(to bottom left, #fd5d93 8.35%, #ec250d 87.43%);
  background-color: #fd5d93;
}

.tc-button[disabled] {
  opacity: 0.5;
  cursor: auto;
}

.tc-button[disabled]:hover,
.tc-button[disabled]:focus {
  box-shadow: none;
}

@media (min-width: 768px) {
  .tc-button {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
