.tc-button {
  position: relative;
  margin: 0 auto;
  outline: none;
  border: none;
  border-radius: 15px;
  padding: 11px 42px;
  min-width: 137px;
  min-height: 42px;
  box-shadow: none;
  font-size: 18px;
  line-height: 1.15;
  text-align: center;
  color: #172f3d;
  background-color: transparent;
  cursor: pointer;
}

.tc-button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid currentColor;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  pointer-events: none;
}

.tc-button:hover::before,
.tc-button:focus::before {
  border-width: 2px;
}

.tc-button[disabled] {
  opacity: 0.5;
  cursor: auto;
}

.tc-button[disabled]::before {
  border-width: 1px;
}

.tc-button--add {
  color: #1283c2;
}

.tc-button--delete {
  color: #db2d6b;
}

.tc-button--cancel {
  color: #334580;
}
