.tc-button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  outline: none;
  border: none;
  border-radius: 15px;
  padding: 8px 32px;
  min-width: 137px;
  min-height: 42px;
  box-sizing: border-box;
  box-shadow: none;
  font-family: inherit;
  font-weight: 400;
  font-size: inherit;
  line-height: 1.15;
  text-align: center;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.tc-button *,
.tc-button::before,
.tc-button::after {
  box-sizing: inherit;
}

.tc-button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid currentColor;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  pointer-events: none;
}

.tc-button:hover::before,
.tc-button:focus::before {
  border-width: 2px;
}

.tc-button[disabled] {
  opacity: 0.5;
  cursor: auto;
}

.tc-button[disabled]::before {
  border-width: 1px;
}

.tc-button--primary {
  color: #5887f3;
  color: var(--tc-controls-primary-color, #5887f3);
}

.tc-button--secondary {
  color: #334580;
}

.tc-button--danger {
  color: #db2d6b;
}

.tc-button__loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  margin: auto;
  width: 16px;
  height: 1em;
}

.tc-button--loading .tc-button__inner {
  opacity: 0;
}
