.tc-table-mobile-sorting {
  margin: 0 -20px;
}

.tc-table-mobile-sorting__section {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding: 22px 20px;
}

.tc-table-mobile-sorting__section:first-child {
  border-top: none;
  padding-top: 0;
}

.tc-table-mobile-sorting__section:last-child {
  padding-bottom: 0;
}

.tc-table-mobile-sorting__checkfield {
  margin-bottom: 16px;
}

.tc-table-mobile-sorting__checkfield:last-child {
  margin-bottom: 0;
}
