.tc-table-desktop__pagination {
  display: flex;
  align-items: center;
  padding: 1.2em;
}

.tc-table-desktop__pagination-left {
  margin-right: 22px;
}

.tc-table-desktop__pagination-right {
  margin-left: auto;
}

.tc-table-desktop__table-pagination-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tc-table-desktop__table-page-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  outline: none;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  width: 42px;
  height: 42px;
  box-shadow: none;
  text-decoration: none;
  color: inherit;
  background-color: #fff;
  cursor: pointer;
}

.tc-table-desktop__table-page-button svg {
  display: block;
  flex: none;
  width: 14px;
  height: 14px;
}

.tc-table-desktop__table-page-button:last-child {
  margin-right: 0;
}

.tc-table-desktop__table-page-button:hover {
  border-color: var(--color-active);
}

.tc-table-desktop__table-page-button:disabled {
  border-color: var(--color-disabled);
  color: var(--color-disabled);
  cursor: not-allowed;
}

.tc-table-desktop__table-page-current {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-active);
  border-radius: 5px;
  width: 42px;
  height: 42px;
  font-weight: 400;
}

.tc-table-desktop__of-total {
  margin: 0 12px;
}

.tc-table-desktop__page-count {
  display: flex;
  align-items: center;
}

.tc-table-desktop__page-count-select {
  flex: none;
  margin-left: 16px;
  width: 68px;
  height: 42px;
  font-size: inherit;
}
