.tc-textarea {
  position: relative;
  width: 100%;
}

.tc-textarea__label {
  display: block;
  margin-bottom: 6px;
  line-height: 1.2;
}

.tc-textarea__box {
  position: relative;
  width: 100%;
}

.tc-textarea__control {
  display: block;
  overflow: hidden;
  outline: none;
  border: 1px solid #bac4ca;
  border-radius: 10px;
  padding: 16px;
  width: calc(100% - 36px);
  min-height: 42px;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  background-clip: padding-box;
  background-color: #fff;
  resize: none;
}

.tc-textarea__control:hover {
  border-color: #81898e;
}

.tc-textarea__control:focus {
  border-color: #2f3436;
}

.tc-textarea__control:disabled {
  border-color: #bac4ca;
  opacity: 0.5;
}

.tc-textarea--invalid .tc-textarea__box::after,
.tc-textarea--valid .tc-textarea__box::after {
  content: "";
  position: absolute;
  right: -6px;
  top: 6px;
  bottom: 6px;
  width: 2px;
}

.tc-textarea--valid .tc-textarea__box::after {
  background-color: #0aaa7a;
}

.tc-textarea--invalid .tc-textarea__box::after {
  background-color: #e11961;
}

.tc-textarea__errors {
  list-style: none;
  margin: 4px 0 0;
  padding: 0;
  font-size: 14px;
  line-height: 17px;
  color: #e11961;
}

.tc-input__errors--absolute {
  position: absolute;
  left: 0;
  top: 100%;
}
